body {
	background-color: #d4d4d4;
	margin: 0;
}

/* Header style */

#header-background {
	height: 60px;
	background-color: #5f36d9;
	display: flex;
	justify-content: center;
}

#header-container {
	height: 60px;
	width: 800px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-element {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
}

.header-static {
	font-size: 24px;
	margin-right: auto;
	line-height: 60px;
	padding: 0px 48px 0px 16px;
	background-color: #4e2db3;
	font-weight: bold;
}

.header-button {
	font-weight: bold;
	font-size: 16px;
	background-color: #7757d9;
	padding: 12px;
}

.header-button:hover {
	background-color: #4e2db3;
}

/* Content style */

#content-area {
	height: 500px;
	width: 800px;
	background-color: #ffffff;
	display: relative;
	margin: auto;
}