
body {
	background-color: #cccccc;
}

#header-background {
	height: 60px;
	background-color: #5a30d9;
	display: flex;
	justify-content: center;
}

#header-container {
	height: 60px;
	width: 800px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-element {
	font-family: Helvetica, sans-serif;
	padding: 12px;
	color: #ffffff;
}

.header-static {
	font-size: 24px;
	margin-right: auto;
}

.header-button {
	font-weight: bold;
	font-size: 16px;
}

.header-button:hover {
	background-color: #4524a6;
}

#content {
  width: 800px;
  margin: auto;
  font-family: Helvetica, sans-serif;
}
