body {
	background-color: #d4d4d4;
	margin: 0;
}

/* Header style */

#header {
	height: 60px;
	background-color: #5f36d9;
	display: flex;
	justify-content: center;
}

#h-container {
	height: 60px;
	width: 800px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.h-element {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
}

.h-static {
	font-size: 24px;
	margin-right: auto;
	line-height: 60px;
	padding: 0px 48px 0px 16px;
	background-color: #4e2db3;
	font-weight: bold;
}

.h-button {
	font-weight: bold;
	font-size: 16px;
	background-color: #7757d9;
	padding: 8px 12px 8px 12px;
}

.h-button:hover {
	background-color: #4e2db3;
}

/* Content style */

#content {
	height: 500px;
	width: 800px;
	background-color: #ffffff;
	display: relative;
	margin: auto;
}

/* Footer style */

#footer {
	height: 50px;
	width: 800px;
	background-color: #444444;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: auto;
}

.f-element {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	padding: 8px;
}

.f-left {
	margin-left: 8px;
}

.f-right {
	margin-left: auto;
	margin-right: 8px;
}

.f-focus {
	background-color: #7757d9;
}

.f-unfocus {
	background-color: #666666;
}

.f-focus:hover {
	background-color: #3d238c;
}

.f-unfocus:hover {
	background-color: #333333;
}